
<html lang="en">
  <head>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BnB Hackathons</title>
    <!-- CDN CSS files -->
    <link rel="icon" href = "https://burpeesandbordeauxdotcom.files.wordpress.com/2016/02/bb-logo.gif">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- my CSS file -->
    <link rel="stylesheet" href="designAddition.css">


  </head>
  <body>

  <!-- TOP NAVIGATION BAR -->
  <nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">

      <div class="navbar-header"> 
        <a class="navbar-brand" href="https://www.facebook.com/HevrutaProgram/?ref=br_rs"> The Great Hevruta Hackathon</a>
      </div>
       
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <div class = "aboutstyle"><li><a href="about.html">About</a></li></div>
          </ul>
      </div>
    </div>
  </nav>


  <!-- BIG DESCRIPTION TEXT -->
  <div class="jumbotron">
    <div class="container">
      <h1>Ready. Set. Solve !</h1>
      <div class = "colorChange">
      <p>can your brain contend with the great Miriam Stern's ?</p>
      </div>
      <br>
    </div>
  </div>


  <!-- TEMPLATE AREA -->
  <div align = "center">

    <h1> riddle number {% block riddleNumber%} {%endblock%} </h1>
    <p> {% block riddleText%} {%endblock%} </p>
  </div>

  <!-- SUBMIT STUFF -->
  <form>
    <div class="form-group">
      <div class = "col-xs-5">
        <label for = "answerInput"> answer </label>
        <input type= "form-text" class="form-control" id = "answerInput" aria-describedby="ansHelp" placeholder = "enter answer !!!!!!!" >
        <small id="ansHelp" class= "form-text text-muted"> to get to next level you must solve this one first :) </small>
      </div>
    </div>
    <div class = "subbutton" align = "center">
      <button type = "submit" class="btn btn-primary"> Submit</button>
    </div>
 </form>

  <!-- BOOTSTRAP CDN -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  
  </body>
</html>